{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'style/font_awason.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style/base_style.css' %}">
    <link rel="shortcut icon" href="{% static 'pics/favicon.ico' %}" type="image/jpeg">
    <title>{{ title }}</title>
</head>

<body>


    {% block basefile %}


    {% endblock basefile %}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "js/base_script.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/font_awason.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>


</body>

</html>